
# Backup folder
# Compiled binary
# Editor files
# Local user configuration
# Windows shortcut links
*.lnk
*.log
*.suo
*.user
.vs/
ArctisBatteryMonitor.lnk
backup-scripts/
BatteryMonitor.exe
BattStat.exe
BattStat.lnk
battstat_debug.log
BattStat_v125.exe
config.txt
config.txt
config_v13_backup.txt
DrawTest.cs
DrawTest.exe
TrayTest.cs
TrayTest.exe
